h1 {
  font-size: 28px;
}

.card {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .1);
}

.w-f-row {
  margin-top: 50px;
  margin-left: -75px;
}

@media (max-width: 767px) {
  .w-f-row {
      margin-top: 10px;
      margin-left: -10px;
    }
}

.padding-15 {
  padding: 15px;
}

.margin-20 {
  margin-top: 20px;
}

.margin-10 {
  margin-top: 10px;
}

#degrees {
  font-size: 28px;
  font-weight: 500;
}

.units {
  font-size: 18px;
}

ul.weather {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.weather li {
  list-style: none;
}

.today-temp {
  font-size: 18px;
}

li:first-letter {
  text-transform: capitalize;
}

#weather-forecast {
  text-align: center;
  font-size: 12px;
}

#current-location {
  background-color: #118a7e;
  border: 2px solid #118a7e;
  border-radius: 3px;
  color: #fff;
}

#today-weather-icon {
  position: relative;
  top: -28px;
  left: -17px;
}

.high-t {
  color: #f54040;
}

.low-t {
  color: #3264c9;
}

.link {
  font-size: 11px;
}